.product-detail-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.product-detail-right-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 100px;
}

.card-image-detail-product {
  height: 540px;
  width: 400px;
  border-radius: 50px;
  object-fit: contain;
  box-shadow: rgba(100, 100, 111, 0.254) 0px 7px 29px 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.price-logo {
  color: #00aaf0;
  font-size: 18px;
  margin-left: 3px;
}
.price-rating-detail-right-side {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
}
.rate-components {
  margin-top: 8px;
  margin-left: 30px;
}
.product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  font-size: 25px;
}

.product-detail-rating {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 23px;
  margin-top: 9px !important;
  margin-left: 50px !important;
}

.product-detail-rating p {
  color: gold;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 25px;
}

.product-detail-description {
  font-size: 30px;
  font-weight: 500;
  width: 500px;
  margin-top: 30px;
}

.product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-review-to-product-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-review {
  margin-top: 30px;
}

.input-review h2 {
  color: #00aaf0;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  margin-left: 5px;
}

@media screen and (max-width: 1047px) {
  .product-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }

  .card-image-detail-product {
    height: 440px;
    width: 300px;
  }
}

@media screen and (max-width: 684px) {
  .product-detail-right-side {
    justify-content: center;
    align-items: center;
    margin-right: 60px;
  }

  .product-detail-description {
    font-size: 19px;
    height: 300px;
    width: 300px;
  }

  .card-image-detail-product {
    height: 250px;
    width: 230px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: -60px;
  }

  .product-btn {
    margin-top: -150px !important ;
  }
}

@media screen and (max-width: 585px) {
  .product-btn {
    flex-direction: column;
    margin-top: -100px;
  }
}

@media screen and (max-width: 500px) {
}
