.product-detail-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.product-detail-right-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 100px;
}

.card-image-detail-product {
  height: 540px;
  width: 400px;
  border-radius: 50px;
  object-fit: contain;
  box-shadow: rgba(100, 100, 111, 0.254) 0px 7px 29px 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.price-rating-detail-right-side {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
}

.product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  font-size: 25px;
}

.product-detail-rating {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 23px;
  margin-top: 9px !important;
  margin-left: 50px !important;
}

.product-detail-rating p {
  color: gold;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 25px;
}

.product-detail-description {
  font-size: 30px;
  font-weight: 500;
  width: 500px;
  margin-top: 30px;
}

.review-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 50px;
}

.review-container h1 {
  color: #00aaf0;
  font-family: "Roboto", sans-serif;
}

.review-product-card {
  height: 70px;
  width: 500px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.254) 0px 7px 29px 0px;
  border: 1.5px solid #00aaf0;
}

.review-product-card h2 {
  margin-top: 20px;
  margin-left: 10px;
}

@media screen and (max-width: 1050px) {
  .product-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }

  .card-image-detail-product {
    height: 440px;
    width: 300px;
  }

  .review-container {
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 601px) {
  .product-detail-right-side {
    justify-content: center;
    align-items: center;
    margin-right: 100px;
  }

  .product-detail-description {
    font-size: 19px;
    height: 300px;
    width: 300px;
  }

  .card-image-detail-product {
    height: 250px;
    width: 230px;
    border-radius: 10px;
    margin-right: 70px;
    margin-bottom: -60px;
  }

  .review-container {
    margin-right: 100px;
  }

  .review-product-card {
    height: 70px;
    width: 300px;
    margin-top: 50px;
  }

  .btn {
    margin-top: -100px !important ;
  }
}
