.edit-product-inputs-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
}

.edit-product-inputs-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
