.paginatePage {
  display: flex !important;
  justify-content: center !important;
  list-style: none;
  cursor: pointer;
  margin-top: 50px;
}

.paginatePage a {
  padding: 10px;
  color: plack;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: plack;
  background-color: #00aaf0;
}

.pagination__link--disabled a {
  color: rgb(rgb(55, 139, 188), green, blue);
  border: 1px solid rgb(rgb(55, 139, 188), green, blue);
}

.input-search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1.5px solid #00aaf0;
  border-radius: 50px;
  width: 400px;
  height: 40px;
  margin-top: 30px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paginateNumberPage {
  margin: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #00aaf0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.paginateNextAndPreviousPage {
  margin: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 40px;
  height: 25px;
  border-radius: 20%;
  background-color: #00aaf0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media screen and (max-width: 670px) {
  .input-search-bar {
    width: 300px;
    height: 30px;
  }
}
